<template>
  <div>
    <component :is="currentComponent" :element="element" />
  </div>
</template>

<script setup>
import { computed, ref } from 'vue';
import { defineProps } from 'vue';
import ContextTypeA from './ContextTypeA.vue';
import ContextTypeB from './ContextTypeB.vue';
import ContextTypeC from './ContextTypeC.vue';

const props = defineProps({
  contextId: String
});

const element = ref({ id: '123', details: 'Some example details' });

const componentMap = {
  '1': ContextTypeA,
  '2': ContextTypeB,
  '3': ContextTypeC
};

const currentComponent = computed(() => {
  return componentMap[props.contextId] || null;
});
</script>
