<template>
  <div>
    <h2>Task Manager</h2>
    <h3>Click one!</h3>
    <v-btn block v-for="task in tasks" :key="task.id" @click="selectTask(task)">
      {{ task.title }}
    </v-btn>
  </div>
</template>

<script setup>
import { ref } from 'vue';
import { useRouter } from 'vue-router';

// Dummy tasks
const tasks = ref([
  { id: 1, title: 'Task 1' },
  { id: 2, title: 'Task 2' },
  { id: 3, title: 'Task 3' }
]);

const router = useRouter();

function selectTask(task) {
  router.push({ name: 'task', params: { id: task.id } });
}
</script>