<template>
  <div>
    <h1>Task Details</h1>
    <p>Task ID: {{ id }}</p>
    <v-btn @click="openContext('1')">Context 1</v-btn>
    <v-btn @click="openContext('2')">Context 2</v-btn>
    <v-btn @click="openContext('3')">Context 3</v-btn>
  </div>
</template>

<script setup lang="ts">
import { defineProps } from 'vue';
import { useRouter } from 'vue-router';


const router = useRouter();

const props = defineProps({
  id: String
});

function openContext(contextId: any) {
  router.push({ name: 'context', params: { contextId: contextId } });
}

</script>