<template>
    <v-container fluid>
        <v-row>
            <v-col cols="8">
                <div class="task-detail-container">
                    <!-- Dynamic task detail window -->
                    <router-view name="taskDetail"></router-view>
                </div>
            </v-col>
            <v-col>
                <div class="map-container">
                    <!-- Static map window -->
                    <router-view name="default"></router-view>
                </div>


            </v-col>
        </v-row>
        <v-row>
            <v-col cols="8">
                <div class="element-detail-container">
                    <!-- Dynamic element detail window -->
                    <router-view name="context"></router-view>
                </div>

            </v-col>
            <v-col>

                <div class="task-list-container">
                    <!-- Static task list window -->
                    <router-view name="taskList"></router-view>
                </div>
            </v-col>
        </v-row>
    </v-container>
</template>

<style lang="scss">
.base-container {
    padding: 20px;
    border-radius: 16px;
    border: solid thin;
    height: 45vh;
}

.map-container {
    @extend .base-container;
}

.task-list-container {
    @extend .base-container;
}

.task-detail-container {
    @extend .base-container;
}

.element-detail-container {
    @extend .base-container;
}
</style>